<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{48} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="trace-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/trace.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archive/roll-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--
    <logger name="ru.otus.andrk.cachehw.HwCache" level="trace" additivity="false">
        <appender-ref ref="trace-rolling"/>
    </logger>
    -->


    <!--
    <logger name="SQL dialect" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    -->

    <logger name="ru.otus" level="TRACE"/>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="trace-rolling"/>
    </root>

</configuration>
